################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dll.config
*.pdb
*.suo
*.user
.vs/
MigrationBackup/
obj/
packages/
/*.xml
/ki.dll

